*.exe
*.suo
*.sdf
replay.txt
/mPULSE Project/Debug
/mPULSE Project/mPULSE/Debug
/mPULSE Project/ipch
/mPULSE Project/mPULSE/Images
/mPULSE Project/mPULSE/SoundEngine/Sounds
/mPULSE Project/mPULSE/ModelLoader/Models
/mPULSE Project/mPULSE/Debug/*.obj
/mPULSE Project/mPULSE/img/Thumbs.db
/mPULSE Project/mPULSE/Debug/*.obj
/mPULSE Project/mPULSE/Debug/*.tlog
/mPULSE Project/mPULSE/Debug/*.manifest
/mPULSE Project/mPULSE/Debug/*.lastbuildstate
/mPULSE Project/mPULSE/Debug/*.log
/mPULSE Project/mPULSE/Debug/*.idb
/mPULSE Project/mPULSE/Debug/*.pdb
/mPULSE Project/mPULSE/Debug/*.obj
/mPULSE Project/mPULSE/Debug/*.obj
/mPULSE Project/mPULSE/Debug/*.log
/mPULSE Project/mPULSE/Debug/*.obj
/mPULSE Project/mPULSE/Debug/*.idb
/mPULSE Project/mPULSE/Debug/*.pdb
